<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title, link, style)">
    <th:block th:if="${title == null}">
        <title>DM后台</title>
    </th:block>
    <th:block th:if="${title != null}">
        <title th:replace="${title}">title</title>
    </th:block>

    <meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="T后台管理系统" name="description"/>
    <meta content="DM, DM后台管理系统, SpringBoot, Jpa, Thymeleaf, Shiro" name="keywords"/>

    <link rel="shortcut icon" th:href="@{/mo-favicon.ico}" type="image/x-icon">
    <link media="all" rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link media="all" rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}">
    <link media="all" rel="stylesheet" th:href="@{/css/main.css}">
    <th:block th:if="${link != null}">
        <th:block th:replace="${link}"></th:block>
    </th:block>

    <th:block th:if="${style != null}">
        <th:block th:replace="${style}"></th:block>
    </th:block>
</head>
<body>
<th:block th:fragment="script">
    <script charset="utf-8" th:src="@{/lib/layui-v2.5.5/layui.js}"></script>
    <script charset="utf-8" th:src="@{/js/lay-config.js(v=2.0.0)}"></script>
    <script charset="utf-8" th:src="@{/js/main.js}"></script>
</th:block>
</body>
</html>