<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="timo-detail-page">
    <div class="timo-detail-title">角色信息</div>
    <table class="layui-table timo-detail-table">
        <tbody>
        <tr>
            <th width='100px'>编号</th>
            <td th:text="${user.id}"></td>
            <th width='100px'>达人名称</th>
            <td th:text="${user.name}"></td>
        </tr>
        <tr>
            <th>个人特色</th>
            <td th:text="${user.desc}"></td>
            <th>达人性别</th>
            <td th:text="${#dicts.keyValue('ROLE_SEX', user.sex)}"></td>
        </tr>
        <tr>
            <th>身高</th>
            <td th:text="${user.height}"></td>
            <th>年龄</th>
            <td th:text="${user.age}"></td>
        </tr>
        <tr>
            <th>服务范围</th>
            <td th:text="${user.position}"></td>
            <th>体重</th>
            <td th:text="${user.weight}"></td>
        </tr>
        <tr>
            <th>创建时间</th>
            <td th:text="${user.createTime}"></td>
            <th>演出总费用</th>
            <td th:text="${user.fee}"></td>
        </tr>
        <tr>
            <th>备注</th>
            <td colspan="4" th:text="${user.remark}"></td>
        </tr>
        </tbody>
    </table>

</div>
<script th:replace="common/template :: script"></script>
</body>
</html>