<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="timo-detail-page">
    <div class="timo-detail-title">角色信息</div>
    <table class="layui-table timo-detail-table">
        <tbody>
        <tr>
            <th width='100px'>编号</th>
            <td th:text="${user.id}"></td>
            <th width='100px'>角色名称</th>
            <td th:text="${user.name}"></td>
        </tr>
        <tr>
            <th>才艺专长</th>
            <td th:text="${user.skill}"></td>
            <th>角色性别</th>
            <td th:text="${#dicts.keyValue('ROLE_SEX', user.sex)}"></td>
        </tr>
        <tr>
            <th>出演信息</th>
            <td th:text="${user.showInfo}"></td>
            <th>演出总费用</th>
            <td th:text="${user.fee}"></td>
        </tr>
        <tr>
            <th>创建时间</th>
            <td th:text="${user.createTime}"></td>
            <!--            <th>最后修改</th>-->
            <!--            <td th:text="${#dates.format(user.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
        </tr>
        <tr>
            <th>备注</th>
            <td colspan="4" th:text="${user.remrks}"></td>
        </tr>
        </tbody>
    </table>

</div>
<script th:replace="common/template :: script"></script>
</body>
</html>